body {
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

header, footer {
  background-color: #e0b479; }

.bannerprincipal {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: grey;
  background-size: cover;
  background-position: center;
  transition: all 5s ease;
  background-image: url("./imagenes/banner 1.jpg");
  animation: bannerprincipal 28s infinite linear; }

.banner2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 22, 40, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.banner2 h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.banner2 a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  transition: all .1s ease-in-out; }

.banner2 a :hover {
  background-color: #fff;
  color: #333; }

@keyframes bannerprincipal {
  0% {
    background-image: url("../imagenes/banner 1.jpg"); }
  25% {
    background-image: url("../imagenes/banner 1.jpg"); }
  26% {
    background-image: url("../imagenes/banner 2.jpg"); }
  50% {
    background-image: url("../imagenes/banner 2.jpg"); }
  51% {
    background-image: url("../imagenes/banner 3.jpg"); }
  75% {
    background-image: url("../imagenes/banner 3.jpg"); }
  76% {
    background-image: url("../imagenes/banner 4.jpg"); }
  100% {
    background-image: url("./imagenes/banner 4.jpg"); } }

.contenedor-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 25%;
  bottom: 20px;
  right: 25px;
  padding: 1px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }
  .contenedor-boton .contenedor-boton:hover {
    transform: scale(1.1);
    transition: 0.3s; }
  .contenedor-boton .boton {
    width: 50px;
    transition: ease 1s; }

.conjimg {
  display: flex;
  justify-content: space-between;
  padding: 25px; }

@media only screen and (min-width: 320px) and (orientation: portrait) {
  .conjimg {
    flex-direction: column;
    align-items: center;
    height: 30%; } }

.conjimg2 {
  display: flex;
  justify-content: space-between;
  padding: 25px; }

@media only screen and (min-width: 320px) and (orientation: portrait) {
  .conjimg2 {
    flex-direction: column;
    align-items: center;
    height: 30%; } }

.imgnuestrosproductos {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  position: relative; }

.imagenunetealequipo {
  position: relative;
  height: 43.75em;
  width: 58em;
  border-radius: 20px solid rgba(255, 255, 255, 0);
  margin-left: 208px; }

.card {
  margin: 25px; }

:root {
  --login-bg: white; }

.login-contenedor {
  height: 36.75em;
  width: 58em;
  margin: 6em auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px; }

.login-info-contenedor {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  padding-top: 0.2rem;
  background-color: beige; }

.imagenlogo-contenedora {
  width: 50%;
  padding: 2rem;
  background-color: bisque;
  box-sizing: border-box; }

.titulo {
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.social-login {
  width: 100%;
  display: flex;
  border: none;
  justify-content: space-evenly; }

.social-login-element {
  border: 1px solid black;
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid black; }

.social-login-element img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem; }

.social-login-element :hover {
  background-color: #fff;
  cursor: pointer; }

.login-info-contenedor > p {
  font-size: 1.25em;
  margin-top: 1.1em; }

.inputs-contenedor {
  border: 1px solid black;
  height: 56%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.input, .btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em; }

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box; }

.input:hover {
  border: 2px solid black; }

.btn {
  width: 80%;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: moccasin;
  cursor: pointer;
  border: none;
  border-radius: 10px; }

.inputs-contenedor p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.span {
  color: #333;
  font-weight: 600;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

@media screen and (max-width: 1000px) {
  .imagenlogo-contenedora {
    display: none; }
  .login-contenedor {
    border: 2px solid red;
    width: 70%;
    margin-top: 3rem; }
  .login-info-contenedor {
    width: 100%; } }

@media screen and (max-width: 650px) {
  .login-contenedor {
    width: 90%; } }

@media screen and (max-width: 500px) {
  .login-contenedor {
    height: 90%; }
  .social-login {
    flex-direction: column;
    align-items: center;
    height: 30%; } }

.titulo {
  font-family: url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap); }

.container-fluid1 {
  background-color: #fafafa; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh; }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden; }

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }

.caja {
  display: flex;
  padding: 25px;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4ab2c; }

.text1 {
  padding: 25px;
  margin-top: 20px; }

.text2 {
  padding: 25px;
  margin-top: 20px; }

.text3 {
  padding: 25px;
  margin-top: 20px; }

@media only screen and (min-width: 320px) and (orientation: portrait) {
  .caja {
    flex-direction: column;
    align-items: center;
    height: 30%; } }

.img404 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==); }

.error-template {
  padding: 40px 15px;
  text-align: center; }

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px; }

.error-actions .btn {
  margin-right: 10px; }

* {
  margin: 0;
  padding: 0; }
