
.bannerprincipal{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: grey;
    background-size: cover;
    background-position: center;
    transition: all 5s ease;
    background-image: url("./imagenes/banner\ 1.jpg");
    animation: bannerprincipal 28s infinite linear ;
}    
    
.banner2{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner2 h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner2 a {
    text-decoration: none;
    color: white;
    padding: 9px 20px;
    border: 1px solid ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}
.banner2 a :hover {
    background-color: #fff;
    color: #333;
}

@keyframes bannerprincipal{
    0%{
        background-image: url('../imagenes/banner\ 1.jpg');
    }
    25%{
        background-image: url('../imagenes/banner\ 1.jpg');
    }
    26%{
        background-image: url('../imagenes/banner\ 2.jpg');
    }
    50%{
        background-image: url('../imagenes/banner\ 2.jpg');
    }
    51%{
        background-image: url('../imagenes/banner\ 3.jpg');
    }
    75%{
        background-image: url('../imagenes/banner\ 3.jpg');
    }
    76%{
        background-image: url('../imagenes/banner\ 4.jpg');
    }
    100%{
        background-image: url('./imagenes/banner\ 4.jpg');
    }
}