@mixin text{
  padding: 25px;
  margin-top: 20px;
}

.caja{
    display: flex ;
    padding: 25px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4ab2c;
}
.text1{
  @include text;
    
}
.text2{
    @include text;
}
.text3{
    @include text;
}
@media only screen and (min-width: 320px)  and (orientation: portrait){
    .caja{
        @include image2;
    }
}