:root{
    --login-bg: white;
}   
.login-contenedor{
    height: 36.75em;
    width: 58em;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
}
.login-info-contenedor{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    padding-top: 0.2rem;
    background-color: beige;
}
.imagenlogo-contenedora{
    width: 50%;
    padding: 2rem;
    background-color: bisque;
    box-sizing: border-box;
}
.titulo{
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .social-login{
    width: 100%;
    display: flex;
    border: none;
    justify-content: space-evenly;
}
.social-login-element{
    border: 1px solid black;
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black

}
.social-login-element img{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;

}
.social-login-element :hover{
       background-color: #fff;
       cursor: pointer;   
}
.login-info-contenedor > p {
    font-size: 1.25em;
    margin-top: 1.1em;
}
.inputs-contenedor{
    border: 1px solid black;
    height: 56%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input, .btn{
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}
.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.input:hover {
    border: 2px solid black;
}

.btn{
    width: 80%;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: #fff ;
    border-radius: 5px;
    background-color: moccasin;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.inputs-contenedor p {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.span{
    color:#333;
    font-weight: 600;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1000px) {
    .imagenlogo-contenedora {
        display: none;
    }
    .login-contenedor{
        border: 2px solid red;
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-contenedor{
        width: 100%;
    }
}
    
@media screen and (max-width: 650px){
    .login-contenedor{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .login-contenedor{
        height: 90%;
    }
    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }
}