.titulo1{
    font-family: $text;
}


.titulo2{
     @extend .titulo1;
}
.titulo3{
    font-family: $text;
    margin-left: 250px ;
    margin-top: 150px;
}
@media only screen and (min-width: 320px)  and (orientation: portrait){
    .titulo3{
        margin-left: 10px;
        margin-top: 80px
    }
}

.titulocheck{
    @extend .titulo1;

}
.titulo4{
    @extend .titulo1;
}

.btn-primary{
    background-color: grey;
}

.span{
   
    text-decoration: none;
   
}