$body-color: F4F4F4;
$text-color: grey;
$colors: rgb(224, 180, 121);
$text:'Gulzar', serif; ;


@import "body";
@import "header";
@import "banner";
@import "logowhatsapp";
@import "footer";
@import "imgs";
@import "login";
@import "textos";
@import "check";
@import "caja";
@import "notfound";
@import "barra lateral";


*{
    margin: 0;
    padding: 0;
}


 .img404{
    max-width:100% ;
    height:auto;
 }



