$body-color: #fafafa ;
$text-color: grey;
$colors: rgb(224, 180, 121);
$text:url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap) ;


@import "body";
@import "header";
@import "banner";
@import "logowhatsapp";
@import "footer";
@import "imgs";
@import "login";
@import "textos";
@import "check";
@import "caja";
@import "notfound";


*{
    margin: 0;
    padding: 0;
}
























