$body-color: bisque;
$text-color: grey;
$colors: burlywood;
$text:'Comfortaa', cursiva ;


@import "body";
@import "header";
@import "banner";
@import "logowhatsapp";
@import "footer";
@import "imgs";
@import "login";
@import "textos";


*{
    margin: 0;
    padding: 0;
}































